.popoverContent {
  position: relative;
  z-index: 1;
  border-radius: 2px;
  padding: 8px;
  max-width: 400px;
  animation-duration: 400ms;
  background-color: #111;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  border: 1px solid #4e4e4e;
  color: rgba(255, 255, 255, 0.533);
  font-size: 0.875rem;
}

@media (max-width: 440px) {
  .popoverContent {
    max-width: calc(100vw - 24px);
  }
}

.iconButton {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 6px;

  svg {
    stroke: rgba(255, 255, 255, 0.533);
    transition: stroke 0.2s;
    width: 16px;
    height: 16px;
  }

  &:hover {
    svg {
      stroke: rgba(255, 255, 255);
    }
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
    opacity: 0;
  }
}

.iconButton:focus {
  stroke: rgba(255, 255, 255);
}

.popoverContent:focus {
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
    0 0 0 2px var(--violet-7);

  svg {
    stroke: rgba(255, 255, 255);
  }
}
.popoverContent[data-state="open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.popoverContent[data-state="open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.popoverContent[data-state="open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.popoverContent[data-state="open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
