.mainGrid {
  flex-direction: column;
  display: flex;
  gap: 32px;
  color: white;
  max-width: 640px;
  justify-content: center;
  width: 100%;
}

.mainGrid > * {
  grid-column: 2;
}

@media (min-width: 1024px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 192px 640px 192px;
    column-gap: 32px;
  }
}

@media (max-width: 1088) {
  .mainGrid {
    grid-template-columns: auto 640px auto;
  }
}
